In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df= pd.read_csv('hr_features_dataset.csv')
df.head()

,EmployeeID,Age,Department,SatisfactionScore,LastEvaluationScore,NumProjects,AvgMonthlyHours,YearsAtCompany,Attrition,HoursPerProject,PerformanceRatio,TenureCategory,High_Risk_Employee
0,896999,41,finance,0.41,0.67,2,135,13,0,67.50,0.62,Experienced,0
1,331148,41,hr,0.74,0.80,7,235,16,1,33.57,0.94,Experienced,0
2,559437,36,operations,0.74,0.57,6,197,10,0,32.83,1.29,Mid,0
3,883201,41,finance,0.97,0.88,5,156,13,0,31.20,1.11,Experienced,0
4,562242,41,finance,0.36,0.65,8,218,17,1,27.25,0.55,Mid,1